#loginContainer {
    display: flex;
    flex-direction: column;

    margin: 5em auto;
    width: 60%;
}

.loginError {
    color: red;
}

#loginForm input, #loginForm textarea {
    margin-top: 2em;
}

/* BUTTONS */
#loginSubmit,
#signup-btn {
    border: none;
    border-radius: 0.3em;
    padding: 0.5em;
}

#loginSubmit {
    width: 100%;
    color: white;
    background-color: #0D6EFD;
}

#signup-btn {
    color: black;
    background-color: #0DCAF0;
}